# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Data and models
*.csv
*.json
*.jsonl
*.h5